<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   <link rel = "icon" type = "image/x-icon" href ="static/logoo.png">  
    <title>Breast Cancer Prediction Model</title>
    <meta charset="utf-8" name="viewport" 
    content= "width=device-width, initial-scale=1.0">
  </head>
  
 <!-- <body>
    <div class="container_main" style="background-color: #875a53;">
      <div class="sub_container" id="holder" >
          <table >
            <tr><td><IMG SRC="static/logoo.png" ALT="tries" WIDTH=155 HEIGHT=110></td>
            <td ><center><h1 class='main_heading' style="color: white;">Breast Cancer Prediction</h1></center></td>
          </tr>
        </table>
        <hr style="height:3px;border-width:0;color:#51050F;background-color:#51050F">
        <table class="t1" style="border-color: #51050F;">
        <form class="form-horizontal" action="{{ url_for('predict')}}" method="post">
          <div class="form-group">
            <div class="col-sm-10">
                <tfoot >
                  <tr><th colspan="2" style="background-color:#3B0000" ><center><b><h4>{{ prediction_text}}</h4></b></center></th></tr>
                </tfoot>
                 
                 <tr style="background-color: #F2DDC1;"><td><label for = "texture_mean">Texture Mean:</label></td>
                  <td>          
                    <span>
                      <input  class="form-control" type= "text" name="texture_mean" placeholder="Value range: 9.71 - 39.28" required="required" />
                    </span>
                </td></tr>
        </div>
      </div>
     
      <div class="form-group">
        <div class="col-sm-10">
          <tr><td><label for = "area_mean">Area Mean:</label></td>
            <td>
          <span><input  class="form-control" type="text" name="area_mean" placeholder="Value range: 143.50 - 2501.00" required="required" /></span>
          </td></tr>
        </div>
      </div>

      
      
      <div class="form-group">
        <div class="col-sm-10">
        <tr style="background-color: #F2DDC1;"><td><label for = "area_se">Area SE:</label></td>
          <td>
          <span>
          <input  class="form-control" type="text" name="area_se" placeholder="Value range: 6.80 - 542.20" required="required" />
          </span>
        </td></tr>
        </div>
      </div>
      
	  <div class="form-group">
        <div class="col-sm-10">
          <tr><td><label for = "fractal_dimension_se">Fractal Dimension SE:</label></td>
            <td>
          <span>
          <input  class="form-control" type="text" name="fractal_dimension_se" placeholder="Value range: 0.00 - 0.03" required="required" />
          </span>
        </td></tr>
        </div>
      </div>
      
	  
      <div class="form-group">
        <div class="col-sm-10">
          <tr style="background-color: #F2DDC1;"><td><label for = "concavity_se">Concavity SE:</label></td>
          <td>
          <span>
          <input  class="form-control" type="text" name="concavity_se" placeholder="Value range: 0.00 - 0.40" required="required" />
          </span>
        </td></tr>
        </div>
      </div>
      
	  <div class="form-group">
        <div class="col-sm-10">
          <tr ><td><label for = "concavity_mean">Concavity Mean:</label></td>
            <td>
          <span>
          <input  class="form-control" type="text" name="concavity_mean" placeholder="Value range: 0.00 - 0.43" required="required" />
        </span>
      </td></tr>
        </div>
      </div>
      
      
      <div class="form-group">
        <div class="col-sm-10">
          <tr style="background-color: #F2DDC1;"><td><label for = "smoothness_worst">Smoothness Worst:</label></td>
            <td>
          <span>
          <input  class="form-control" type="text" name="smoothness_worst" placeholder="Value range: 0.07 - 0.22" required="required" />
          </span>
        </td></tr>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
          <tr><td><label for = "concavity_worst">Concavity Worst:</label></td>
          <td>
          <span>
          <input  class="form-control" type="text" name="concavity_worst" placeholder="Value range: 0.00 - 1.25" required="required" />
          </span>
        </td></tr>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
          <tr style="background-color: #F2DDC1;"><td><label for = "symmetry_worst">Symmetry Worst:</label></td>
            <td>
          <span>
          <input  class="form-control" type="text" name="symmetry_worst" placeholder="Value range: 0.16 - 0.66" required="required" />
          </span>
        </td></tr>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
          <tr><td><label for = "fractal_dimension_worst">Fractal Dimension Worst:</label></td>
            <td>
          <span>
          <input  class="form-control" type="text" name="fractal_dimension_worst" placeholder="Value range: 0.06 - 0.21" size="5" required="required"/>
          </span>
        </td></tr>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10" >
         <tr style="background-color: #F2DDC1;"><td colspan="2" ><button type="submit" class="btnsub">PREDICT</button></td></tr>
        </div>
      </div>
    </form>
    <h2 class="result"></h2>
  </div>
  </div>
  </table>
  </body>
  
  !-->
 <style>
 

 label

{
  width: 230px;
display: inline-block;
text-align: left;
}
input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }
  body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    background-color: #875a53 ;
	
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 25px;}
  .bg-1 { 
    background-color: #875a53; /* Green */
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
 #container-v {
    overflow-y: hidden;
    width:100% !important;
  }
  .child_con {
    height: 500px;
    float: left;
    margin: 1em;
  }
  input[type=text] {
 
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: white;
  color: black;
}

.block {
  display: block;
  width: 10%;
  border: none;
  background-color: #D06224;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  float:center;
  margin-left:45%;
  
}



  </style>
</head>
<body >


  <div class="login" style = "height: 850px;overflow-y: scroll;" >      
<div id="practice" class="container-fluid bg-1 text-center" >
    <h1 class="margin">Breast Cancer Prediction</h1>
    <img src="{{url_for('static', filename='logoo.png')}}" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="200" height="200">     

<!--##########################################################################################################-->



     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post" >
   
  <!--##########################################################################################################-->
                                  
                                              <!--REGEX FOR ERROR HANDLING-->
                                              
                                              <label for="fname">Texture Mean:</label>
  <input type="text" id="fname" name="Texture Mean" placeholder="Value range: 9.71 - 39.28" pattern="^(0?[1-9]|[1-9][0-9]|[1][1-9][1-9]|200)$" title="Please enter a valid number between 0 and 200." required="required" /><br>
  <label for="name">Area Mean :</label>
  <input type="text" id="name" name="Area Mean" placeholder="Value range: 143.50 - 2501.00"  pattern="^(0?[1-9]|[1-9][0-9]|[1][1-9][1-9]|200)$" title="Please enter a valid number between 0 and 200." required="required" /><br>
	
  
  <!--##########################################################################################################-->
		 <label for="cycle">Area SE</label>
		<input type="text" id="cycle" name="Cycle (R/I)" placeholder="Value range: 6.80 - 542.20" required="required" /><br>
                 
                  <label for="gain">Fractal Dimension SE:</label>
                  <input type="text" id="gain" name="Fractal Dimension SE:" placeholder="Value range: 0.00 - 0.03" required="required" /><br>
				  
              <label for="hair">Concavity SE:</label>
              <input type="text" id="hair" name="Concavity SE:" placeholder="Value range: 0.00 - 0.40"  required="required" /><br>
           
           <label for="fa">Concavity Mean:</label>
      <input type="text" id="fa" name="Concavity Mean:" placeholder="Value range: 0.00 - 0.43" required="required" /><br>
            
     <label for="skin">Smoothness Worst:</label>
           <input type="text" id="skin"name="Smoothness Worst:" placeholder="Value range: 0.07 - 0.22" required="required" /><br>
 
	
         <label for="pi">Concavity Worst:</label>
          <input type="text" id="pi" name="Concavity Worst:" placeholder="Value range: 0.00 - 1.25" required="required" /><br>
   
   <label for="hair">Symmetry Worst:</label>
         <input type="text" id="hair" name="Symmetry Worst:" placeholder="Value range: 0.16 - 0.66" required="required" /><br>
     
    
   <label for="re">Fractal Dimension Worst:</label>
   <input type="text" id="re" name="Fractal Dimension Worst:" placeholder="Value range: 0.06 - 0.21" required="required" />



        <button type="submit" class="block">Predict</button>
    </form>


   <p>                   </p>
   {{ prediction_text }}
   </div>
 
 </div>
  
  </body>
  
</html>

